#meal_plan_form h1 {
    font-size: 1.8em;
}

.form-group {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.form-group legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #8c1c1c; 
    padding: 0 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input.required, 
select.required {
    border: 2px solid #ff0000;
}

textarea {
    resize: vertical; 
}

.radio-group, .checkbox-group {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: -10px;

}

.radio-group label, .checkbox-group label {
    display: inline-block;
    font-weight: normal;
    margin-right: 15px;
}

.form-button {
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
}

.submit-button {
    background-color: #4A90E2; 
}

.reset-button {
    background-color: #cc0000; 
}

.submit-button:hover {
    background-color: steelblue; 
}

.reset-button:hover {
    background-color: maroon; 
}

.button-group {
    border: none;
    padding: 10px 0;
}